@font-face {
  font-family: 'Denne Sketchy';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/denne-sketchy-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/denne-sketchy-webfont.woff2") format("woff2"), url("/assets/denne-sketchy-webfont.woff") format("woff"), url("/assets/denne-sketchy-webfont.ttf") format(truetype), url("/assets/denne-sketchy-webfont.svg#denne__sketchyregular") format("svg");
}
@font-face {
  font-family: 'Roboto';
  src: url("/assets/roboto-light.ttf") format(truetype);
}
@font-face {
  font-family: 'RobotoC';
  src: url("/assets/robotocondensed-regular.ttf") format(truetype);
}
@font-face {
  font-family: 'RoboSlab';
  src: url("/assets/robotoslab-thin.ttf") format(truetype);
}
@font-face {
  font-family: 'Denne Sketchy';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/denne-sketchy-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/denne-sketchy-webfont.woff2") format("woff2"), url("/assets/denne-sketchy-webfont.woff") format("woff"), url("/assets/denne-sketchy-webfont.ttf") format(truetype), url("/assets/denne-sketchy-webfont.svg#denne__sketchyregular") format("svg");
}
@font-face {
  font-family: 'Roboto';
  src: url("/assets/roboto-light.ttf") format(truetype);
}
@font-face {
  font-family: 'RobotoC';
  src: url("/assets/robotocondensed-regular.ttf") format(truetype);
}
@font-face {
  font-family: 'RoboSlab';
  src: url("/assets/robotoslab-thin.ttf") format(truetype);
}
body {
  max-width: 1144px;
  padding: 0;
  margin: 0 auto !important;
}

li {
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font: 8.3rem Denne Sketchy, Helvetica, sans;
}

@media (max-width: 662px) {
  body {
    max-width: 331px;
  }
}
@media (max-width: 1144px) {
  body {
    max-width: 737px;
  }
}
.body-wrapper {
  padding: 0 15px !important;
  margin: 0 !important;
}

.header {
  background: url("/assets/home-button.png") no-repeat;
  background-size: contain;
  height: 55px;
  margin: 8px 6px;
}

#welcome {
  padding: 0 !important;
}
#welcome .super-title {
  height: 70px;
  padding: 39px 85px 0 84px;
}
#welcome .title {
  font: 8.3rem Denne Sketchy, Helvetica, sans;
  padding-left: 68px;
  margin-top: 0;
}
#welcome .splash-text {
  font: 1.4rem Roboto, Helvetica, sans;
  text-align: center;
  padding: 6px 0 40px;
  line-height: 22px;
}
#welcome .hero-image {
  height: 650px;
  background-color: #000000;
}
#welcome .hero-image #background {
  background: url("/assets/hero.png") no-repeat;
  background-size: contain;
  height: 100%;
  margin-left: 132px;
}
#welcome .hero-image .iframe-click {
  position: absolute;
  top: 266px;
  left: 515px;
  width: 80px;
  height: 80px;
  background: url("/assets/play-circle.png") no-repeat;
  background-size: contain;
}
#welcome .hero-image .iframe-click.close {
  top: 3%;
  right: 3%;
}
#welcome .hero-image iframe {
  height: 100%;
  width: 80%;
  bottom: 0;
  left: 10%;
  position: absolute;
}
#welcome #subtitle {
  height: 104px;
  background: url("/assets/look.png") no-repeat center;
}

.exhibits {
  padding: 0 0 1px 0 !important;
}
.exhibits #ten {
  background-image: url("/assets/exhibit-season0.png");
}
.exhibits #eleven {
  background-image: url("/assets/exhibit-golden-years.png");
}
.exhibits #twelve {
  background-image: url("/assets/exhibit-sam.png");
}
.exhibits .exhibit {
  height: 400px;
  padding: 0 8px 0 5px;
}
.exhibits .exhibit-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: no-repeat center;
  background-size: cover;
}
.exhibits .exhibit-wrapper .exhibit {
  position: absolute;
  height: 100%;
  top: 0;
}
.exhibits .exhibit-wrapper .exhibit-text-overlay {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 5%;
  padding: 0 10%;
}
.exhibits .exhibit-wrapper .exhibit-text-overlay p {
  color: #FFFFFF;
  font: 2.5rem RoboSlab, Helvetica, sans;
  bottom: 28%;
  position: absolute;
  margin: 0;
}
.exhibits .exhibit-wrapper .exhibit-text-overlay a {
  position: absolute;
  float: left;
  bottom: 8%;
}
.exhibits .exhibit-wrapper .exhibit-text-overlay a div {
  color: #4285f4;
  float: left;
  position: relative;
  font: 1.4rem RobotoC, Helvetica, sans;
  background: url("/assets/circle-arrow-blue.png") no-repeat right;
  background-size: contain;
  padding: 0 20px 0 0;
}
.exhibits .exhibit-wrapper .exhibit-video-wrapper {
  height: 100%;
  width: 100%;
  background-color: #000000;
}
.exhibits .exhibit-wrapper .exhibit-video-wrapper .exhibit-video {
  width: 100%;
  height: 80%;
  margin-top: 10%;
}
.exhibits .exhibit-wrapper .exhibit-video-wrapper .exhibit-video-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FFFFFF;
  font-size: 2.5rem;
}

.social-bar {
  background-color: #448bff;
  height: 13rem;
  margin-top: 1%;
}
.social-bar .social-wrapper {
  padding: 60px 26px 0 14px;
}
.social-bar .social-wrapper .fb {
  background: url("/assets/soc-facebook.png") no-repeat center;
  background-size: contain;
}
.social-bar .social-wrapper .gplus {
  background: url("/assets/soc-google-plus.png") no-repeat center;
  background-size: contain;
}
.social-bar .social-wrapper .twitter {
  background: url("/assets/soc-twitter.png") no-repeat center;
  background-size: contain;
}
.social-bar .social-wrapper .pin {
  background: url("/assets/soc-pinterest.png") no-repeat center;
  background-size: contain;
}
.social-bar .social-wrapper div {
  padding-left: 6%;
  min-height: 26px;
}
.social-bar .social-wrapper img {
  width: 52%;
}

.footer {
  width: 100%;
  background-color: #f7f7f7;
}
.footer .footer-wrapper {
  height: 50%;
}
.footer .footer-wrapper img {
  width: 100%;
}
.footer .footer-wrapper .mobile {
  display: none !important;
}

@media (max-width: 1144px) {
  #welcome .super-title {
    height: 102px;
    padding: 59px 82px 0 126px;
  }
  #welcome .title {
    text-align: center;
  }
  #welcome .splash-text {
    font-size: 3rem;
    padding: 6px 49px 21px 21px;
    line-height: 46px;
  }
  #welcome .hero-image {
    height: 387px;
    padding: 0 28px !important;
  }
  #welcome .hero-image #background {
    margin: 0;
    background-size: initial;
    background-position: 0 -50px;
  }
  #welcome .hero-image .iframe-click {
    top: 128px;
    width: 70px;
    height: 70px;
    left: 340px;
  }
  #welcome #subtitle {
    margin: 0 25%;
  }

  .exhibits .exhibit-wrapper {
    height: 90%;
  }
  .exhibits .exhibit-wrapper .exhibit-text-overlay p {
    font-size: 4.5rem;
  }
  .exhibits .exhibit-wrapper .exhibit-text-overlay a {
    width: 125px;
  }
  .exhibits .exhibit-wrapper .exhibit-text-overlay a div {
    width: 100%;
    font-size: 2.4rem;
  }

  .footer .footer-wrapper .social-bar .social-wrapper {
    padding-top: 50px;
  }
  .footer .footer-wrapper .social-bar .social-wrapper div {
    float: left;
    min-height: 40px;
  }
  .footer .footer-wrapper .social-bar .social-wrapper #soc-fb {
    width: 26%;
  }
  .footer .footer-wrapper .desktop {
    display: none !important;
  }
  .footer .footer-wrapper .mobile {
    display: block !important;
  }
}
@media (max-width: 662px) {
  .header {
    height: 103px;
    margin: 18px 0 0 55px;
  }

  #welcome .super-title {
    height: 102px;
    padding: 59px 86px 0 43px;
  }
  #welcome .title {
    padding: 3px 0 0 66px;
  }
  #welcome .splash-text {
    font-size: 3rem;
    padding: 6px 49px 21px 21px;
    line-height: 46px;
  }
  #welcome .hero-image {
    height: 387px;
    padding: 0 28px !important;
  }
  #welcome .hero-image #background {
    margin: 0;
    background-position: -29px -37px;
    background-size: initial;
  }
  #welcome .hero-image .iframe-click {
    top: 128px;
    left: 267px;
    width: 70px;
    height: 70px;
  }
  #welcome #subtitle {
    height: 142px;
    background-position: left;
    margin-left: 123px;
  }

  .social-bar .social-wrapper div {
    float: left;
    width: 25%;
  }
  .social-bar .social-wrapper #soc-fb {
    width: 26%;
  }
}

/*# sourceMappingURL=body.css.map */
