<div class="exhibits col-sm-12">
	<div class="col-md-4 col-xs-12 exhibit" ng-repeat="exhibit in exhibits">
		<div class="exhibit-wrapper" id={{exhibit.id}}>
			<div class="exhibit-video-wrapper" ng-show="showVideo">
				<iframe class="exhibit-video" ng-show="showVideo" src="{{exhibit.video | trustAsResourceUrl}}"></iframe>
				<span class="exhibit-video-close" ng-show="showVideo" ng-click="showVideo = ! showVideo">X</span>
			</div>
			<div class="exhibit-text-overlay" ng-show="!showVideo">
				<p>{{exhibit.snippet}}</p>
				<a ng-click="showVideo = ! showVideo">
					<div>EXPLORE</div>
				</a>
			</div>
		</div>
	</div>
</div>
