@import 'styles';
@import 'global';

.body-wrapper {
}
.header {
	.home-button {
		height: 10%;
	}
}
#welcome {
	.title{
		font: $denne;
		margin-bottom: 0;
		margin-top: 0;
	padding: 0 6%;
		text-align: center;
	}
	img {
		display: block;
	}
	div {
		font: $default-body-font;
		text-align: center;
		padding: 2% 6% 4%;
	}
	.hero-image {
		height: 49%;
		width: 100%;
		overflow: hidden;
		padding: 0;
		background-color: #000000;
		#background {
			position: relative;
			height: 100%;
			width: 77%;
			top: 12px;
			left: 13%;
		}
		.iframe-click {
			position: absolute;
			top: 42%;
			left: 47%;
			img {
				height: 15%;
			}
		}
		.iframe-click.close{
			top: 3%;
			right: 3%;
		}
		iframe{
			height: 100%;
			width:80%;
			bottom: 0;
			left: 10%;
			position: absolute;
		}
	}
	#subtitle {
		position: relative;
		height: 9%;
		padding: 0;
		img {
			position: absolute;
			top: 45%;
			left: 2%;
			width: 95%;
		}
	}
}
.exhibits {
	padding: 0;
	.exhibit-wrapper {
		position: relative;
		height: 30%;
		margin: 1% -2%;
		overflow: hidden;
		.exhibit {
			position: absolute;
			height: 100%;
			top: 0;
		}
		.ten {
			left: -45%;
			height: 112%;
			top: -9%;
			div {
				width: 50%;
			}
		}
		.eleven {
			left: -38%;
			div {
				width: 85%;
			}
		}
		.twelve {
			left: -23%;
			div {
				width: 63%;
			}
		}
		.exhibit-text-overlay {
			width: 100%;
			height: 50%;
			position: absolute;
			bottom: 5%;
			padding: 0 15%;
			p {
				color: #FFFFFF;
				font: $roboSlab;
				bottom: 28%;
				position: absolute;
				margin: 0;
			}
			a {
				position: absolute;
				float: left;
				bottom: 8%;
				div {
					color: rgba(66,133,244,1);
					float: left;
					position: relative;
					font: $robotC;
				}
				img {
					float: left;
					width: 20%;
					padding-top: 3%;
					margin-left: 8%;
				}
			}
		}
	}
}
.social-bar {
	background-color: #448bff;
	height: 13rem;
	margin-top: 1%;
	.social-wrapper {
		padding: 5% 3% 0;
		#soc-fb {
			width: 30%;
		}
		div {
			padding-left: 6%;
		}
		img {
			width: 52%;
		}
	}
}
.footer {
	width: 100%;
	background-color: #f7f7f7;
	.footer-wrapper {
		height: 50%;
		img {
			width: 100%;
		}
	}
}
@media (max-width: 1144px) {
	}
	.header {
		.home-button {
			width: 16%;
		}
	}
	.exhibits {
		.exhibit-wrapper {
			height: 45%;
			.exhibit-text-overlay {
				a {
					width: 27%;
					div {
						font-size: 3.4rem;
					}
				}
				p {
					font-size: 5.5rem;
				}
			}
		}
	}
	.social-bar {
		.social-wrapper {
			div {
				float: left;
				width: 25%;
			}
			#soc-fb {
				width: 26%;
			}
		}
	}
}
